# Config file for automatic testing at travis-ci.org
sudo: false
language: python
python:
  - "3.4"
  - "3.3"
  - "2.7"
env:
 - TOX_ENV=pylint
 - TOX_ENV=pep8
install: pip install tox
script: echo "Pass"
